.page {
  display: flex;
  min-height: calc(100vh - 5rem);
  min-height: calc(100svh - 5rem);
}

.page main {
  display: flex;
  height: calc(100vh - 5rem);
  width: 100%;
}

.unauthorized-main h2 {
  margin: auto;
}

/* AUTHORIZED */
.authorized-main {
  display: flex;
  width: 100%;
}

/* CONTACTS SECTION */

.contacts-section {
  display: flex;
  flex-direction: column;
  flex: .67;
  background-color: rgb(201, 239, 255);
  border-right: 1px solid rgb(169, 202, 216);
}

.contacts-section h2 {
  font-size: 1.8rem;
  margin: 0 auto;
}

.contacts-section h3 {
  font-size: 1.2rem;
}

/* MESSAGING SECTION */

.messaging-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(250, 250, 250);
}

.message-thread {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

/* CONTACT BANNER */

.messaging-section-contact-banner {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.messaging-section-contact-banner h2 {
  margin: 1rem auto;
}

.messaging-section-texts-section {
  flex: 1;
}

/* TEXT BAR */
.messaging-section-text-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.messaging-section-text-bar input {
  height: 2.5rem;
  width: 30rem;
  padding-left: .5rem;
  border-radius: .5rem;
  border: 2px solid gray;
}

.messaging-section-text-bar button {
  width: 8rem;
  border-radius: .5rem;
  background-color: rgb(0, 183, 255);
  border: 2px solid rgb(0, 183, 255);
  font-size: 1.1rem;
}

.messaging-section-text-bar button:hover {
  cursor: pointer;
  background-color: rgb(55, 198, 255);
  border: 2px solid rgb(55, 198, 255);
}

.messaging-section-text-bar button:active {
  background-color: rgb(85, 204, 252);
  border: 2px solid rgb(85, 204, 252);
}
