.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(201, 239, 255);
  border-right: 1px solid rgb(169, 202, 216);
}

.body h2 {
  font-size: 1.8rem;
  margin: .8rem auto;
}

.body h3 {
  font-size: 1.2rem;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3rem;
  width: auto;
  color: black;
}

/* MEDIA QUERIES */
/* @media(max-width: 820px) {
  .body.mobile-view {
    display: none;
  }
} */