.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 5rem;
    background-color: rgb(0, 183, 255);
    padding: 0 1rem;
}

.body h2 {
    position: absolute;
    left: 50%;
    font-size: 2.5rem;
    transform: translateX(-50%);
}

.body h3 {
    font-size: 2rem;
}

.user-options-list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.add-friend-btn {
    padding: 1rem;
    border-radius: .5rem;
    margin-left: 1rem;
}

.add-friend-btn:hover {
    cursor: pointer;
    background-color: rgb(99, 211, 255);
}

.notification-icon {
    height: 1.7rem;
    width: auto;
}

.notification-icon:hover {
    cursor: pointer;
    color: gray;
}

.pfp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    transition: background-color .3s ease;
}

.pfp-container:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 82);
}

.pfp {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

