.unauthorized-header-body,
.authorized-header-body {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: rgb(0, 183, 255);
    padding: 0 1rem;
}

.unauthorized-header-body h2,
.authorized-header-body h3 {
    font-size: 2rem;
}

/* UNAUTHORIZED */

.unauthorized-header-body {
    justify-content: end;
}

.unauthorized-header-body h2 {
    margin-right: auto;
}

.header-options-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header-option {
    padding: 1rem;
    border-radius: .5rem;
}

.header-option:hover {
    cursor: pointer;
    background-color: rgb(99, 211, 255);
}

/* AUTHORIZED */

.authorized-header-body {
    justify-content: space-between;
}

.authorized-header-body h2 {
    font-size: 2.5rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    transition: background-color .3s ease;
}

.icon:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 82);
}

