.body {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 25rem;
    background-color: rgb(240, 251, 255);
    border-radius: 2rem;
    z-index: 2;
}

.body.visible {
    display: flex;
}

.body h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 1rem;
    padding-left: .5rem;
    height: 1.8rem;
    width: 15rem;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 1rem;
}

.login-form button {
    padding: .3rem 0;
    background-color: rgb(0, 183, 255);
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    transition: background-color .3s ease;
}

.login-form button:hover {
    cursor: pointer;
    transform: scale(1.02, 1.02);
}

.login-form button:active {
    transform: scale(.98, .98);
}

.close-window-icon {
    height: 2rem;
    width: auto;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: background-color .3s ease;
}

.close-window-icon:hover {
    cursor: pointer;
    background-color: red;
}

.divider {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.divider hr {
    height: 1px;
    width: 8rem;
    background-color: gray;
    border: none;
}

.divider p {
    margin: 0 1rem;
}

.external-login-options-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.external-login-option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    height: 3rem;
    width: 20rem;
    border: 1px solid gray;
    border-radius: 2rem;
    transition: background-color .3s ease;
}

.external-login-option:hover {
    cursor: pointer;
    background-color: gray;
}

.external-login-option p {
    font-size: 1.1rem;
    margin-left: 1rem;
}

.logo {
    height: 2rem;
    width: auto;
}

.message {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.message.error {
    color: red;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity .5s ease;
}

.overlay.visible {
    opacity: 1;
}
