.body {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vw;
    background-color: white;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.body.visible {
    display: flex;
}

.body h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.account-form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.account-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.account-form input {
    height: 1.8rem;
    margin-top: .2rem;
    padding-left: .5rem;
    border: 1px rgb(110, 110, 110) solid;
    border-radius: .5rem;
}

.account-form button {
    height: 2.5rem;
    background-color: rgb(0, 183, 255);
    border: 2px solid rgb(0, 183, 255);
    border-radius: .5rem;
}

.account-form button:hover {
  cursor: pointer;
  background-color: rgb(0, 146, 204);
  border: 2px solid rgb(0, 146, 204);
}

.account-form button:active {
  background-color: rgb(0, 111, 155);
  border: 2px solid rgb(0, 111, 155);
}

.account-form button:disabled {
    cursor: auto;
    pointer-events: none;
    background-color: gray;
    border: 2px solid gray;
}

.name-section {
    display: flex;
    gap: 1rem;
}

.close-window-icon {
    height: 2rem;
    width: auto;
    margin-left: auto;
    margin-right: .5rem;
    margin-top: .5rem;
    transition: background-color .3s ease;
}

.close-window-icon:hover {
    cursor: pointer;
    background-color: red;
}

.pfp-container {
    position: relative;
    height: 10rem;
    width: 10rem;
    background-color: gray;
}

.default-pfp {
    height: 100%;
    width: 100%;
}

.pfp {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.add-pfp-btn {
    position: absolute;
    top: -7%;
    right: -7%;
    border: 1px solid black;
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

.add-pfp-btn:hover,
.remove-pfp-btn:hover {
    cursor: pointer;
    background-color: lightgray;
}

.add-pfp-btn:active,
.remove-pfp-btn:active {
    background-color: gray;
}

.add-pfp-btn input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.remove-pfp-btn {
    position: absolute;
    top: -7%;
    left: -7%;
    border: 1px solid black;
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

.remove-pfp-btn-icon,
.add-pfp-btn-icon {
    height: 100%;
    width: 100%;
    transform: scale(.9, .9);
}

.add-pfp-btn-icon {
    transform: scale(.9, .9) rotate(45deg);
}

.message {
    margin-top: 1rem;
    font-size: 1.2rem;
    max-width: 20rem;
    text-align: center;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}

.message.loading {
    color: black !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 3;
}

.overlay.visible {
    opacity: 1;
}
