.body {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 3rem;
    right: 11rem;
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 4;
}

.body.visible {
    display: flex;
}

.requests-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.requests-section h2 {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.requests-list {
    list-style: none;
    width: 100%;
}

.close-window-icon {
    height: 2rem;
    width: auto;
    margin-left: auto;
    margin-right: .5rem;
    margin-top: .5rem;
    transition: background-color .3s ease;
}

.close-window-icon:hover {
    cursor: pointer;
    background-color: red;
}

/* MEDIA QUERIES */
@media(max-width: 480px) {
    .body {
        left: 0;
    }
}
