.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin-left: .5rem;
    font-weight: bolder;
}

.pfp-container {
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
  background-color: gray;
}

.pfp {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
