.body {
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.body button {
  height: 2.5rem;
  width: 8rem;
  border-radius: 0 .5rem .5rem 0;
  background-color: rgb(0, 183, 255);
  color: black;
  border: 2px solid rgb(0, 183, 255);
  font-size: 1.1rem;
}

.body button:hover {
  cursor: pointer;
  background-color: rgb(0, 146, 204);
  border: 2px solid rgb(0, 146, 204);
}

.body button:active {
  background-color: rgb(0, 111, 155);
  border: 2px solid rgb(0, 111, 155);
}

.content-input {
  display: flex;
  justify-content: end;
  line-height: 1.4;
  padding: .5rem;
  font-size: 1rem;
  /* width: 30rem; */
  width: clamp(15rem, calc(35vw + 1rem), 30rem);
  padding-left: .5rem;
  border-radius: .5rem 0 0 .5rem;
  border: 2px solid gray;
}

.content-input.image-view {
  border-radius: 0 0 0 .5rem;
  border-top: none;
}

.content-section {
  display: flex;
  flex-direction: column;
}

.image-section {
  display: none;
  align-items: center;
  height: 10rem;
  background-color: white;
  border: 2px solid gray;
  border-bottom: 2px solid lightgray;
  border-radius: .5rem .5rem 0 0;
}

.image-section.visible {
  display: flex;
}

.image-container {
  display: none;
  position: relative;
  margin-left: .5rem;
  height: 9rem;
  width: 9rem;
  background: black;
}

.image-container.visible {
  display: block;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.close-window-icon {
  position: absolute;
  top: .3rem;
  right: .3rem;
  height: 1.3rem;
  width: 1.3rem;
  background-color: gray;
  border: 2px solid white;
  border-radius: 1rem;
}

.close-window-icon:hover {
  cursor: pointer;
  background-color: lightgray;
}

.close-window-icon-image {
  height: 100%;
  width: 100%;

}


.image-icon-wrapper {
  display: flex;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  padding: .3rem;
  background-color: black;
}

.image-icon-wrapper:hover {
  cursor: pointer !important;
  background-color: rgb(65, 65, 65);
}

.image-icon-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.image-icon-wrapper input:hover {
  cursor: pointer !important;
}

.image-icon {
  height: 100%;
  width: 100%;
  margin: auto;
  color: white;
}

/* MEDIA QUERIES */
@media(max-width: 820px) {
  .content-input.mobile-view {
    width: calc(42vw + 5rem);
  }
}